<ul class="comments">
    {% for comment in comments %}
        <li class="comment">
            <div class="comment-thumbnail">
                <a href="{{ url_for('.user', username=comment.author.username) }}">
                    <img class="img-rounded profile-thumbnail" height="40" width="40"
                         src='http://q1.qlogo.cn/g?b=qq&nk={{ comment.author.qq_account }}&s=640' alt="">
                </a>
            </div>
            <div class="comment-content">
                <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
                <div class="comment-author"><a
                        href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a>
                </div>
                <div class="comment-body">
                    {% if comment.disabled %}
                        <p><i>此评论已被版主禁用。</i></p>
                    {% endif %}
                    {% if moderate or not comment.disabled %}
                        {{ comment.body | safe }}
                    {% endif %}
                </div>
                {% if moderate %}
                    <br>
                    {% if comment.disabled %}
                        <a class="btn btn-default btn-xs"
                           href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">Enable</a>
                    {% else %}
                        <a class="btn btn-danger btn-xs"
                           href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">Disable</a>
                    {% endif %}
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
