{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}
{% block title %}Flasky - Post{% endblock %}

{% block page_content %}
    {% include '_posts.html' %}
    <h4 id="comments">Comments</h4>
    {% if current_user.can(Permission.COMMENT) %}
        <div>
            <form action="" method="post">
                {{ form.csrf_token }}
                {{ form.body(class="ckeditor") }}
                <button type="submit" class="btn btn-success">提交</button>
            </form>
        </div>
    {% endif %}
    {% include '_comments.html' %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.post', fragment='#comments', id=posts[0].id) }}
        </div>
    {% endif %}
{% endblock %}

