{% extends "base.html" %}
{% block title %}
    Blog-{{ user.username }}
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <img class="img-rounded profile-thumbnail" height="256" width="256"
             src='http://q1.qlogo.cn/g?b=qq&nk={{ current_user.qq_account }}&s=640' alt="">

        <div class="profile-header">
            <h1>hello,{{ user.username }}</h1>
            {% if user.name or user.location %}
                <p>
                    {% if user.name %}
                        {{ user.name }}
                    {% endif %}
                    {% if user.location %}
                        来自：
                        <a href="http://map.baidu.com/?newmap=1&s=s&wd={{ user.location }}&c=2403&from=alamap&tpl=mapcity">{{ user.location }}</a>
                    {% endif %}
                </p>

            {% endif %}
            {% if current_user.is_administrator() %}
                <p>
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                </p>
            {% endif %}
            {% if user.about_me %}
                <p>
                    {{ user.about_me }}
                </p>
            {% endif %}
            <p>
                加入时间: {{ moment(user.member_since).format('L') }}
                最后访问时间: {{ moment(user.last_seen).fromNow() }}
            </p>
            {% if user==current_user %}
                <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">编辑个人资料</a>
            {% endif %}
            {% if current_user.is_administrator() %}
                <a class="btn btn-default" href="{{ url_for('main.edit_profile_admin',id=user.id) }}">编辑资料[Admin]</a>

            {% endif %}
        </div>

    </div>
    <h3>{{ user.username }}的文章</h3>
    {% include "_posts.html" %}
{% endblock %}

